@keyframes list-show {
    0%{
        opacity: 0;
        top: 0;
    }
    25%{
        opacity: 0.25;
        top: 25%;
    }
    50%{
        opacity: 0.5;
        top: 50%;
    }
    100%{
        opacity: 1;
        top: 100%;
    }
}


@keyframes typing {
    0%{content: "D";}
    1%{content: "De";}
    2%{content: "Des";}
    3%{content: "Desi";}
    4%{content: "Desig";}
    5%{content: "Design";}
    6%{content: "Designe";}
    7%{content: "Designer";}
    8%{content: "Designer";}
    9%{content: "Designer";}
    10%{content: "Designer";}
    11%{content: "Designer";}
    12%{content: "Designer";}
    13%{content: "Designe";}
    14%{content: "Designe";}
    15%{content: "Design";}
    16%{content: "Desig";}
    17%{content: "Desi";}
    18%{content: "Des";}
    19%{content: "De";}
    20%{content: "D";}
    21%{content: "";}
    22%{content: "D";}
    23%{content: "De";}
    24%{content: "Dev";}
    25%{content: "Deve";}
    26%{content: "Devel";}
    27%{content: "Develo";}
    28%{content: "Develop";}
    29%{content: "Develope";}
    30%{content: "Developer";}
    31%{content: "Developer";}
    32%{content: "Developer";}
    33%{content: "Developer";}
    34%{content: "Developer";}
    35%{content: "Developer";}
    36%{content: "Develope";}
    37%{content: "Develop";}
    38%{content: "Develo";}
    39%{content: "Devel";}
    40%{content: "Deve";}
    41%{content: "Dev";}
    42%{content: "De";}
    43%{content: "D";}
    44%{content: "";}
    45%{content: "F";}
    46%{content: "Fr";}
    47%{content: "Fre";}
    48%{content: "Free";}
    49%{content: "Freel";}
    50%{content: "Freela";}
    51%{content: "Freelan";}
    52%{content: "Freelanc";}
    53%{content: "Freelance";}
    54%{content: "Freelancer";}
    55%{content: "Freelancer";}
    56%{content: "Freelancer";}
    57%{content: "Freelancer";}
    58%{content: "Freelancer";}
    59%{content: "Freelancer";}
    60%{content: "Freelance";}
    61%{content: "Freelanc";}
    62%{content: "Freelan";}
    63%{content: "Freela";}
    64%{content: "Freel";}
    65%{content: "Free";}
    66%{content: "Fre";}
    67%{content: "Fr";}
    68%{content: "F";}
    69%{content: "";}
    70%{content: "P";}
    71%{content: "Ph";}
    72%{content: "Pho";}
    73%{content: "Phot";}
    74%{content: "Photo";}
    75%{content: "Photog";}
    76%{content: "Photogr";}
    77%{content: "Photogra";}
    78%{content: "Photograp";}
    79%{content: "Photograph";}
    80%{content: "Photographe";}
    81%{content: "Photographer";}
    82%{content: "Photographer";}
    83%{content: "Photographer";}
    84%{content: "Photographer";}
    85%{content: "Photographer";}
    86%{content: "Photographer";}
    87%{content: "Photographe";}
    88%{content: "Photograph";}
    89%{content: "Photograp";}
    90%{content: "Photogra";}
    91%{content: "Photogr";}
    92%{content: "Photog";}
    93%{content: "Photo";}
    94%{content: "Phot";}
    95%{content: "Pho";}
    96%{content: "Ph";}
    97%{content: "P";}
    98%{content: "P";}
    99%{content: "";}
    100%{content: "";}
}

@keyframes flash {
    0%{opacity: 1;}
    1%{opacity: 0;}
    2%{opacity: 1;}
    3%{opacity: 0;}
    4%{opacity: 1;}
    5%{opacity: 0;}
    6%{opacity: 1;}
    7%{opacity: 0;}
    8%{opacity: 1;}
    9%{opacity: 0;}
    10%{opacity: 1;}
    11%{opacity: 0;}
    12%{opacity: 1;}
    13%{opacity: 0;}
    14%{opacity: 1;}
    15%{opacity: 0;}
    16%{opacity: 1;}
    17%{opacity: 0;}
    18%{opacity: 1;}
    19%{opacity: 0;}
    20%{opacity: 1;}
    21%{opacity: 0;}
    22%{opacity: 1;}
    23%{opacity: 0;}
    24%{opacity: 1;}
    25%{opacity: 0;}
    26%{opacity: 1;}
    27%{opacity: 0;}
    28%{opacity: 1;}
    29%{opacity: 0;}
    30%{opacity: 1;}
    31%{opacity: 0;}
    32%{opacity: 1;}
    33%{opacity: 0;}
    34%{opacity: 1;}
    35%{opacity: 0;}
    36%{opacity: 1;}
    37%{opacity: 0;}
    38%{opacity: 1;}
    39%{opacity: 0;}
    40%{opacity: 1;}
    41%{opacity: 0;}
    42%{opacity: 1;}
    43%{opacity: 0;}
    44%{opacity: 1;}
    45%{opacity: 0;}
    46%{opacity: 1;}
    47%{opacity: 0;}
    48%{opacity: 1;}
    49%{opacity: 0;}
    50%{opacity: 1;}
    51%{copacity: 0;}
    52%{opacity: 1;}
    53%{opacity: 0;}
    54%{opacity: 1;}
    55%{opacity: 0;}
    56%{opacity: 1;}
    57%{opacity: 0;}
    58%{opacity: 1;}
    59%{opacity: 0;}
    60%{opacity: 1;}
    61%{opacity: 0;}
    62%{opacity: 1;}
    63%{opacity: 0;}
    64%{opacity: 1;}
    65%{opacity: 0;}
    66%{opacity: 1;}
    67%{opacity: 0;}
    68%{opacity: 1;}
    69%{opacity: 0;}
    70%{opacity: 1;}
    71%{opacity: 0;}
    72%{opacity: 1;}
    73%{opacity: 0;}
    74%{opacity: 1;}
    75%{opacity: 0;}
    76%{opacity: 1;}
    77%{opacity: 0;}
    78%{opacity: 1;}
    79%{opacity: 0;}
    80%{opacity: 1;}
    81%{opacity: 0;}
    82%{opacity: 1;}
    83%{opacity: 0;}
    84%{opacity: 1;}
    85%{opacity: 0;}
    86%{opacity: 1;}
    87%{opacity: 0;}
    88%{opacity: 1;}
    89%{opacity: 0;}
    90%{opacity: 1;}
    91%{opacity: 0;}
    92%{opacity: 1;}
    93%{opacity: 0;}
    94%{opacity: 1;}
    95%{opacity: 0;}
    96%{opacity: 1;}
    97%{opacity: 0;}
    98%{opacity: 1;}
    99%{opacity: 0;}
    100%{opacity: 1;}
}